langchain-huggingface
langchain-groq
langchain_community
langchain-core
python-dotenv
langchain_core
ipykernel
langchain-groq
pypdf
cassio
datasets
langchain
tiktoken
PyPDF2
fastapi
uvicorn 
cassandra-driver
sentence-transformers
httpx