langchain-openai
langchain-huggingface
langchain-groq
langchain_community
langchain-core
python-dotenv
langchain_core
streamlit
ipykernel
openai
langchain-groq
pypdf
faiss-cpu
langchain-chroma
arxiv
wikipedia
duckduckgo-search
cassio
datasets
langchain
tiktoken
PyPDF2
fastapi
uvicorn 
cassandra-driver
sentence-transformers
httpx